html {
  background-color: #0b3765;
  font-size: 100%;
}

.main {
  background-color: #eed269;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  color: #0b3765;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin: 0 0 0 5%;
}

.total {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  margin: 0 auto;
}

.poundsign {
  font-size: 4em;
  color: #0b3765;
  margin: 0 3% 3% 0%;
}

#enteramount {
  height: 2em;
  width: 6em;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #0b3765;
  text-align: center;
}

.people {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  margin: 0 auto;
}

.fa-users {
  color: #0b3765;
  margin: 0 5% 5% 0%;
}

#numberofpeople {
  height: 2em;
  width: 6em;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #0b3765;
  text-align: center;
}

.eachowe {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  margin: 0 auto;
}

.fa-credit-card {
  color: #0b3765;
  margin: 3% 5% 3% 0%;
}

.result {
  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #0b3765;
  text-align: center;
  padding: 0 3% 0 3%;
}

button {
  background-color: #0b3765;
  color: white;
  height: 10%;
  width: 25%;
  display: flex;
  align-content: center;
  margin: 0 auto;
  display: block;
  font-size: 1.2em;
}

}

@media (max-width: 375px) {  
  .main {
    width: 100%;
  }
}
